.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.icon-link > .bi {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  fill: currentcolor;
  transition: 0.2s ease-in-out transform;
}
